.containerBtn {
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
}
.button {
     margin: 15px;
     padding: 5px 15px;
     border: 1px solid white;
     border-radius: 12px;
     outline: none;
     background-color: rgb(227, 11, 235);
     filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
     color: white;
     cursor: pointer;
     position: relative;
     z-index: 0;

}
