.products_title {
    color: rgb(227, 11, 235);
    font-size: 35px;
    text-align: center;
}
.cardProduct {
    border-radius: 5px;
    color: rgb(227, 11, 235);
    filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
    margin: 2px;
    padding: 8px;
}
.cardProduct__title {
    color: rgb(227, 11, 235);
    font-size:small;
    text-align: center;
}
.cardProduct__containerPriceAndFav{
    color: rgb(227, 11, 235);
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
}
.cardProduct__price  {
    border: 1px solid rgb(227, 11, 235);
    border-radius: 2px;
    padding: 2px;
}
.cardPoduct__containerCart {
    background-color:rgb(227, 11, 235) ;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardPoduct__textCart {
    margin: 0;
    padding: 0;
}
