.products_title {
    color: rgb(227, 11, 235);
    font-size: 35px;
    text-align: center;
}
.cardProduct {
    border-radius: 5px;
    color: rgb(227, 11, 235);
    filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
    margin: 2px;
    padding: 8px;
}
.cardProduct__title {
    color: rgb(227, 11, 235);
    font-size:small;
    text-align: center;
}
.cardProduct__containerPriceAndFav{
    color: rgb(227, 11, 235);
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
}
.buttonFavorite {
    text-decoration: none;
}
#favorite {
    color: rgb(227, 11, 235);
    display: none;
}
#notFavorite:active {
    background-color: rgb(227, 11, 235);
    display: none;
}

#favorite:active{
    color: rgb(227, 11, 235);
    display: block;
}

.cardProduct__price, .cardProduct__priceOld {
    border: 1px solid rgb(227, 11, 235);
    border-radius: 2px;
    padding: 2px;
    font-size: 12px;
}
.cardProduct__priceOld  {
    border: none;
}
.cardPoduct__containerCart {
    background-color:rgb(227, 11, 235) ;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardProduct__link {
    color: white;
    text-decoration: none;
}
.cardPoduct__textCart {
    margin: 0;
    padding: 0;
}
